/.idea/
/.pytest_cache/
/.venv/
/__pycache__/
/bin/
/build/
/dist/
/export/*
!export/.gitkeep
/data/backup/*
!data/backup/.gitkeep
/db/*
!db/.gitkeep
/data/
profile_results.pstat
resources.qrc
/data/config/
/data/logs/
